{% load static %}
{% load users_utils %}
<div class="col-lg-3 col-12 mt-1">
  <div class="card mt-0">
    <div class="card-body text-center">
      <div class="text-center">
        <img class="rounded-circle" src="{% get_avatar_with_size user 128 %}"
             alt="{{ user.get_full_name }} Profile Picture">
        <br>
        <a class="small text-muted" href="">Change Image</a>
        <br>
        <br>
        <h4>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</h4>
        <hr class="title-hr mt-2">
      </div>
      <a class="btn btn-info" href="{% url 'password_change' %}">Change Password</a>
      <a class="btn btn-warning mt-2" href="{% url 'users:logout' %}">Sign out</a>
    </div>
  </div>
  <div class="card my-5" style="border: none;">
    <div class="card-body p-0">
      <ul class="list-group">
        <a href="{% url 'users:profile' %}">
          <li class="list-group-item list-group-item-light {% if sidebar == 'profile' %}active{% endif %}">
            <i class="fas fa-laptop mr-5"></i>Profile
          </li>
        </a>
        <a href="{% url 'users:issues' %}" class="my-1">
          <li class="list-group-item list-group-item-light {% if sidebar == 'issues' %}active{% endif %}">
            <i class="fas fa-book mr-5"></i>Issues
          </li>
        </a>
        <a href="{% url 'users:reserves' %}" class="my-1">
          <li class="list-group-item list-group-item-light {% if sidebar == 'reserves' %}active{% endif %}">
            <i class="fas fa-clock mr-5"></i>Reserves
          </li>
        </a>
        <a href="">
          <li class="list-group-item list-group-item-light {% if sidebar == 'favorites' %}active{% endif %}">
            <i class="fa fa-star mr-5"></i>Favorite List
          </li>
        </a>
        <a href="{% url 'users:reviews' %}" class="my-1">
          <li class="list-group-item list-group-item-light {% if sidebar == 'reviews' %}active{% endif %}">
            <i class="far fa-comment mr-5"></i>Reviews
          </li>
        </a>
        <a href="{% url 'users:tickets' %}" class="my-1">
          <li class="list-group-item list-group-item-light {% if sidebar == 'tickets' %}active{% endif %}">
            <i class="far fa-comment mr-5"></i>Tickets
          </li>
        </a>
        <a href="" class="my-1">
          <li class="list-group-item list-group-item-light {% if sidebar == 'addresses' %}active{% endif %}">
            <i class="fas fa-map-marker-alt mr-5"></i>Addresses
          </li>
        </a>
        <a href="">
          <li class="list-group-item list-group-item-light {% if sidebar == 'notifications' %}active{% endif %}">
            <i class="fas fa-bell mr-5"></i>Notifications
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>