{% extends "base.html" %}
{% load static %}
{% block title %}Pedram Parsian - Password Change Done{% endblock %}
{% block content %}
<div class="container">
    <div class="my-5">
        <div class="py-5">
            <h1 class="text-center mt-5 mb-4 text-success font-weight-bold">Your password has been successfully updated</h1>
            <p class="mx-auto text-center mb-5">
                <a href="{% url 'users:profile' %}" class="btn btn-lg btn-outline-dark">Profile</a>
                <a href="{% url 'home' %}" class="btn btn-lg btn-outline-secondary">Home Page</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}