{% extends "base.html" %}
{% load static %}
{% block title %}Pedram Parsian - Password Change Done{% endblock %}
{% block content %}
<div class="container">
      <div class="text-center my-5">
            <div class="py-5">
                  <h1 class="text-center mt-5 mb-3 text-success font-weight-bold">
                        Your password has been successfully changed.
                  </h1>
                  <p class="mx-auto">
                        <a href="{% url 'users:login' %}" class="btn btn-info mr-1">Sign in</a>
                        <a href="{% url 'home' %}" class="btn  btn-info">Visit Home Page</a>
                  </p>
            </div>
      </section>
</div>
{% endblock %}