{% extends "users/profile/profile_base.html" %}
{% load static %}
{% block profile %}
<div class="card card-body mb-5">
    <h2 class="font-weight-bold mt-3">
        <strong>Your Comments</strong>
    </h2>
    <hr>
<div class="row mb-4">
  {% for comment in object_list %}
  <div class="col-md-6 text-left mt-3">
    <div class="card">
        <img src="{{ comment.post.image.url }}" alt="{{ comment.post.title }} Image" height="150">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'post' comment.post.slug %}">
            <strong>{{comment.post.title}}</strong>
          </a>
          {% if comment.status == 10 %}
          <span class="badge badge-pill bg-success text-right">Approved</span>
          {% elif comment.status == 20 %}
          <span class="badge badge-pill bg-danger text-right">Refused</span>
          {% elif comment.status == 30 %}
          <span class="badge badge-pill bg-info text-right">Waiting...</span>
          {% endif %}
        </h5>
        <hr>
        <p class="card-text mb-3">
          {{comment.text}}
        </p>

        <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog"
          aria-labelledby="basicExampleModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Deleting your comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!-- <div class="modal-body">
                Are you sure?
              </div> -->
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                <a href="{% url 'delete_comment' comment.pk %}" class="btn btn-outline-danger">Yes</a>
              </div>
            </div>
          </div>
        </div>
        <p class="small text-center mb-1 ml-1">
          {{comment.date_added|date:"F Y"}}
          </p>
        <button type="button" class="btn btn-danger btn-block" data-toggle="modal"
          data-target="#basicExampleModal">
          Remove
        </button>
      </div>
    </div>
  </div>
  {% empty %}
  <br>
  <div class="col-md-6 mt-3">
  <h5>Looks empty!</h5>
  </div>
  {% endfor %}
</div></div>
{% endblock %}