{% extends "users/profile/profile_base.html" %}
{% load static %}
{% block profile %}
  <div class="card card-body mb-5">
    <h2 class="font-weight-bold mt-3">
      <strong>Your Reserves</strong>
    </h2>
    <hr>
    <div class="row mb-4">
      {% for reserve in object_list %}
        <div class="col-md-6 text-left mt-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{% url 'documents:detail' reserve.document.slug %}">
                  <strong>{{reserve.document.title}}</strong>
                </a>
              </h5>
              <hr>
              <p class="card-text mb-3">
                status:
                {% if reserve.status == reserve.AVAILABLE %}
                  <!-- calculate until date (based on membership type of user) -->
                  <span class="badge badge-pill bg-success text-right">Available (until tomorrow)</span>
                {% elif reserve.status == reserve.WAITING %}
                  <!-- calculate estimated date (based on current checkout) -->
                  <span class="badge badge-pill bg-primary text-right">Waiting (available @ tomorrow)</span>
                {% elif reserve.status == reserve.PROCEED %}
                  <span class="badge badge-pill bg-secondary text-right">Proceed @ {{ reserve.issue.timestamp|date:"d F Y" }}</span>
                {% elif reserve.status == reserve.EXPIRED %}
                  <span class="badge badge-pill bg-danger text-right">Expired</span>
                {% elif reserve.status == reserve.FORCED_EXPIRED %}
                  <span class="badge badge-pill bg-danger text-right">Expired by staff</span>
                {% endif %}
              </p>
              {% if reserve.status <= 20 %}
              <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog"
                   aria-labelledby="basicExampleModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Deleting your reserve</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                      <a href="{% url 'users:delete_reserve' reserve.pk %}" class="btn btn-outline-danger">Yes</a>
                    </div>
                  </div>
                </div>
              </div>
                {% endif %}
              <p class="small text-center mb-1 ml-1">
                reserved @ {{reserve.timestamp|date:"d F Y"}}
              </p>
              {% if reserve.status <= 20 %}
              <button type="button" class="btn btn-danger btn-block" data-toggle="modal"
                      data-target="#basicExampleModal">
                Remove
              </button>
              {% endif %}
            </div>
          </div>
        </div>
      {% empty %}
        <br>
        <div class="col-md-6 mt-3">
          <h5>Looks empty!</h5>
        </div>
      {% endfor %}
    </div></div>
{% endblock %}