{% extends "users/profile/profile_base.html" %}
{% load static %}
{% block profile %}
  <div class="card card-body mb-5">
    <h2 class="font-weight-bold mt-3">
      <strong>Your Tickets</strong>
    </h2>
    <hr>
    <div class="row mb-4">
      <div class="col-md-12 text-left mt-3">
        <a href="{% url 'users:ticket_create_view' %}" class="btn btn-block btn-outline-primary">Issue new ticket</a>
      </div>
      {% for ticket in object_list %}
        <div class="col-md-12 text-left mt-3">
          <div class="card">
            <div class="card-body">
              {% if ticket.status == 10 %}
                <span class="badge badge-pill bg-success text-right">Open</span>
              {% elif ticket.status == 20 %}
                <span class="badge badge-pill bg-danger text-right">Closed</span>
              {% endif %}
              <a class="ml-1 font-weight-bold" href="{% url 'users:ticket_detail' ticket.pk %}">
                {{ ticket.subject }}
              </a>
              <span class="small text-muted">
                  {{ ticket.date_opened|date:"F Y" }}
                </span>
            </div>
          </div>
        </div>
      {% empty %}
        <br>
        <div class="col-md-6 mt-3">
          <h5>Looks empty!</h5>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}