{% extends "users/profile/profile_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block profile %}
  <div class="card card-body  mb-5">
    <div class="card-header">
     <span class="h2 font-weight-bold mt-3">
        {% if ticket.status == 10 %}
          <span class="badge badge-pill bg-success text-right">Open</span>
        {% elif ticket.status == 20 %}
          <span class="badge badge-pill bg-danger text-right">Closed</span>
        {% endif %}
       {{ object.subject }}
    </span>
      <br>
      <small>Priority: {{ ticket.get_priority_display }}</small>
      <br>
      <small>Department: {{ ticket.get_department_display }}</small>
    </div>
    <div class="row mb-4">
      {% for reply in replies %}
        <div class="col-md-12 text-left mt-3">
          <div class="card">
            <div class="card-header">
              <span class="font-weight-bolder font-italic">{{ reply.user.get_full_name }} </span><span
              class="small text-muted">replied on {{ reply.timestamp|date:"l Y/n/j - G:i" }}</span>
            </div>
            <div class="card-body">
              <p class="card-text">
                {{ reply.text|safe|linebreaks }}
              </p>
              {% if reply.attachment_set.count > 0 %}
                <hr>
                {% for attachment in reply.attachment_set.all %}
                  <a href="{{ attachment.file.url }}" target="_blank"
                     class="small text-muted">{{ attachment.get_file_name }}</a>
                  {% if not forloop.last %}<br>{% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="col-md-12 text-left mt-3">
        <div class="card">
          <div class="card-header">
            Add a reply
          </div>
          <div class="card-body">
            <form enctype="multipart/form-data" method="POST"
                  action="{% url 'users:ticket_detail' object.pk %}"> {% csrf_token %}
              {% for field in form %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {% render_field field class="form-control" placeholder=field.label %}
                  <div class="{% if field.errors %} invalid{% endif %}">
                    {% for error in field.errors %}
                      <p class="help-block">{{ error }}</p>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
              <small class="text-muted">Max {{ MAX_FILES_COUNT }} files.</small>
              <br>
              <small class="text-muted">Allowed file extensions: .png, .jpg, .jpeg, .pdf</small>
              <br>
              <small class="text-muted">Max size per file: {{ MAX_FILE_SIZE }}</small>
              <input type="submit" class="submit-btn btn btn-primary mt-3 btn-block" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{# todo check attachments count in front-end and prevent form submission if needed #}
