{% extends "base.html" %}
{% block title %}
Pedram Parsian - Email Activation Failed
{% endblock %}
{% block content %}
<main>
  <h1>Email Activation Failed</h1>
  <br>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Ooh no!</h4>
    {% if ERR_TYPE == 'FORCED_EXPIRED' %}
    <p>Looks like our admins have explicitly expire your email activation! That means your email can not be activated. Maybe that was just a mistake! <a href="{% url 'home' %}#contact">Contact the admin</a> to fix it!</p>
    {% elif ERR_TYPE == 'EXPIRED' %}
    <p>You are too late! The activation link has been expired! You can <a href="url 'resend_activation_email'">request a new one here</a>!</p>
    <small>Remember that you should activate your email within {{EXPIRE_DAYS}} days!</small>
    {% else %}
    <p>The key you provide for email-activation is not valid!</p>
    {% endif %}
  </div>
</main>
{% endblock %}
