{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load users_utils %}
{% block title %}Document Detail{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/rateit.css' %}">
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row mt-5 pt-3">
      <div class="col-12 mt-1 mx-lg-4">
        <div class="pb-3 text-center text-lg-left">
          <div class="row mb-4">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body mx-4">
                  <div class="row">
                    <div class="col">
                      <!-- modal for reserve -->
                      <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">

                          </div>
                        </div>
                      </div>
                      <!-- end of modal -->
                      <h1 class="font-weight-bold">{{ object.title }}</h1>
                      <!-- change color of status line based on status -->
                      <p class="h6">
                        Status:
                        {% if object.status == object.AVAILABLE %}
                          <span class="badge badge-pill bg-success text-right">Available</span>
                        {% elif object.status == object.LOANED %}
                          <span class="badge badge-pill bg-info text-right">Loaned</span>
                        {% elif object.status == object.RESERVED %}
                          <span class="badge badge-pill bg-warning text-right">Reserved</span>
                        {% elif object.status == object.LOST %}
                          <span class="badge badge-pill bg-danger text-right">Lost</span>
                        {% endif %}
                      </p>
                      {% if object.status != object.LOST %}
                        {% if request.user.is_authenticated %}
                          <button class="reserve-document btn btn-rounded btn-primary btn-lg float-right" type="button"
                                  name="button">Reserve
                          </button>
                        {% else %}
                          <a href="{% url 'users:login' %}" class="btn btn-rounded btn-primary btn-lg float-right">Reserve</a>
                        {% endif %}
                      {% else %}
                        <a class="btn btn-rounded btn-danger disabled btn-lg float-right">Sorry, The document is no
                          longer available</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-1 mx-lg-4">
        <div class="pb-3 text-center text-lg-left">
          <div class="row mb-4">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body mx-4">
                  <h3 class="font-weight-bold">Details</h3>
                  <table class="table">
                    <tbody>
                    {% if object.title %}
                      <tr>
                        <th>Title</th>
                        <td>{{ object.title }}</td>
                      </tr>
                    {% endif %}
                    {% if object.document_type %}
                      <tr>
                        <th>Type</th>
                        <td>{{ object.document_type }}</td>
                      </tr>
                    {% endif %}
                    {% if object.DDC %}
                      <tr>
                        <th>DDC</th>
                        <td>{{ object.DDC }}</td>
                      </tr>
                    {% endif %}
                    {% if object.LCC %}
                      <tr>
                        <th>LCC</th>
                        <td>{{ object.LCC }}</td>
                      </tr>
                    {% endif %}
                    {% if object.NBN %}
                      <tr>
                        <th>NBN</th>
                        <td>{{ object.NBN }}</td>
                      </tr>
                    {% endif %}
                    {% if object.ISBN %}
                      <tr>
                        <th>ISBN</th>
                        <td>{{ object.ISBN }}</td>
                      </tr>
                    {% endif %}
                    {% if object.Price %}
                      <tr>
                        <th>Price</th>
                        <td>{{ object.Price }}</td>
                      </tr>
                    {% endif %}
                    {% if object.Edition %}
                      <tr>
                        <th>Edition</th>
                        <td>{{ object.Edition }}</td>
                      </tr>
                    {% endif %}
                    {% if object.Copies %}
                      <tr>
                        <th>Copies</th>
                        <td>{{ object.Copies }}</td>
                      </tr>
                    {% endif %}
                    {% if object.publisher %}
                      <tr>
                        <th>Publisher</th>
                        <td><a href="{% url 'documents:publisher' object.publisher_id %}">{{ object.publisher }}</a>
                        </td>
                      </tr>
                    {% endif %}
                    {% if object.age_classification %}
                      <tr>
                        <th>Age Classification</th>
                        <td><a
                          href="{% url 'documents:age-classification' object.age_classification_id %}">{{ object.age_classification }}</a>
                        </td>
                      </tr>
                    {% endif %}
                    {% if object.location %}
                      <tr>
                        <!-- todo add link to it to show the details -->
                        <th>Location</th>
                        <td>{{ object.location }}</td>
                      </tr>
                    {% endif %}
                    {% if object.authors.all %}
                      <tr>
                        <th>Authors</th>
                        <td>
                          {% for author in object.authors.all %}
                            <a href="{% url 'documents:author' author.pk %}">
                              {{ author.name }}{% if not forloop.last %}, {% endif %}</a>
                          {% endfor %}
                        </td>
                      </tr>
                    {% endif %}
                    {% if object.translators.all %}
                      <tr>
                        <th>Translators</th>
                        <td>
                          {% for translator in object.translators.all %}
                            <a href="{% url 'documents:translator' translator.pk %}">
                              {{ translator.name }}{% if not forloop.last %}, {% endif %}</a>
                          {% endfor %}
                        </td>
                      </tr>
                    {% endif %}
                    {% if object.editors.all %}
                      <tr>
                        <th>Editors</th>
                        <td>
                          {% for editor in object.editors.all %}
                            <a href="{% url 'documents:editor' editor.pk %}">
                              {{ editor.name }}{% if not forloop.last %}, {% endif %}</a>
                          {% endfor %}
                        </td>
                      </tr>
                    {% endif %}
                    {% if object.number_of_pages %}
                      <tr>
                        <th>Number of pages</th>
                        <td>{{ object.number_of_pages }}</td>
                      </tr>
                    {% endif %}
                    {% if object.description %}
                      <tr>
                        <th>Description</th>
                        <td>{{ object.description }}</td>
                      </tr>
                    {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if reviews|length != 0 %}
        <div class="col-12 mt-1 mx-lg-4">
          <div class="pb-3 text-center text-lg-left">
            <div class="row mb-4">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body mx-4">
                    <div class="text-center text-md-left">
                      <div class="text-center mt-2 mb-4">
                        <h3 class="font-weight-bold">Reviews
                          <span class="badge badge-secondary">{{ reviews|length }}</span>
                        </h3>
                      </div>
                      {% for review in reviews %}
                        <div class="row mb-5">
                          <div class="col-sm-2 col-12 mb-3">
                            <img width="96" src="{% get_avatar_with_size review.member.user 128 %}"
                                 alt="{{ review.member.user.get_full_name }} Avatar"
                                 class="mx-auto d-block rounded-circle">
                          </div>
                          <div class="col-sm-10 col-12">
                            <h5 class="font-weight-bold mb-0">
                              {{ review.member.user.get_full_name|capfirst }}
                              <div class="rateit" data-rateit-value="{{ review.rating }}" data-rateit-ispreset="true"
                                   data-rateit-readonly="true"></div>
                            </h5>
                            <div class="card-data">
                              <small class="text-muted mt-0">{{ review.date_added|date:'Y/m/d' }}</small>
                            </div>
                            {% if review.text %}<p>{{ review.text }}</p>{% endif %}
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="col-12 mt-1 mx-lg-4">
        <div class="extra-margins pb-3 text-center text-lg-left">
          <div class="row mb-4">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body mx-4">
                  <h3 class="text-center font-weight-bold">Write a review</h3>
                  {% if request.user.is_authenticated %}
                    <form method="POST"> {% csrf_token %}
                      <p class="text-center">Logged in as <a
                        href="{% url 'users:profile' %}">{{ request.user.get_full_name }}</a>.
                        <a href="{% url 'users:logout' %}">Logout?</a></p>
                      <div class="form-group">
                        <label for="vote" class="font-weight-bold mr-2">Vote</label>
                        <input type="range" name="rating"
                               value="{{ form.rating.value|default_if_none:0 }}" step="1"
                               id="vote">
                        <div class="rateit" data-rateit-backingfld="#vote" data-rateit-resetable="false"
                             data-rateit-ispreset="true"
                             data-rateit-min="0" data-rateit-max="5">
                        </div>
                      </div>
                      <div class="form-group mt-1">
                      <textarea rows='3' name="text" id="text"
                                class="form-control {% if form.text.errors %}is-invalid{% endif %}"
                                rows="3" placeholder="Review (optional)">{{ form.text.value|default:"" }}</textarea>
                        {% if form.text.errors %}
                          <div class="invalid-feedback">
                            {{ form.text.errors }}
                          </div>
                        {% endif %}
                      </div>
                      <div class="text-center mt-4">
                        <input type="submit" class="btn btn-block btn-outline-primary">
                      </div>
                    </form>
                  {% else %}
                    <p class="text-center">Please <a
                      href="{% url 'users:login' %}?next={% url 'documents:detail' object.slug %}">login</a> to write a
                      review.</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
  <script type="text/javascript">
      $(document).ready(function () {
          $(".reserve-document").modalForm({
              formURL: "{% url 'circulation:reserve' object.id %}"
          });
      });
  </script>
  <script src="{% static 'js/jquery.rateit.min.js' %}"></script>
{% endblock %}