{% extends 'base.html' %}
{% load static %}
{% load documents_utils %}
{% block title %}Document List{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/rateit.css' %}">
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <div class="card tab-card">
          <div class="card-header tab-card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="tab_search" data-toggle="tab" href="#t_search" role="tab"
                   aria-controls="Search"
                   aria-selected="true">Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tab_advanced_search" data-toggle="tab" href="#t_advanced_search" role="tab"
                   aria-controls="Advanced Search"
                   aria-selected="false">Advanced Search</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade show active p-3" id="t_search" role="tabpanel" aria-labelledby="tab_search">
              <form method="get" action="{% url 'documents:list' %}">
                <div class="form-group mb-3">
                  <label for="search_query">
                    Search query:
                  </label>
                  <input type="text" name="search_query" class="form-control" id="search_query">
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="search_field" id="title" value="title" checked>
                  <label class="form-check-label" for="title">Title</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="search_field" id="authors" value="authors">
                  <label class="form-check-label" for="authors">Authors</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="search_field" id="publisher" value="publisher">
                  <label class="form-check-label" for="publisher">Publisher</label>
                </div>
                <div class="form-check my-3">
                  <input class="form-check-input" checked name="available_only" type="checkbox" id="available_only">
                  <label class="form-check-label" for="available_only">
                    Show only available documents
                  </label>
                </div>
                <input class="btn btn-outline-primary btn-block" type="submit" name="submit" value="Search"/>
              </form>
            </div>
            <div class="tab-pane fade p-3" id="t_advanced_search" role="tabpanel" aria-labelledby="tab_advanced_search">
              <h3>advance search is not ready yet!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="my-4">
          <div class="my-2">
            <span class="text-muted mr-3">Sort by:</span>
            <a href="?{% url_replace request 'sort_by' 1 %}"
               class="btn {% if sort_by == '1' %}btn-primary{% else %}btn-outline-secondary{% endif %} rounded-pill">Title</a>
            <a href="?{% url_replace request 'sort_by' 2 %}"
               class="btn {% if sort_by == '2' %}btn-primary{% else %}btn-outline-secondary{% endif %} rounded-pill">Publisher</a>
            <a href="?{% url_replace request 'sort_by' 3 %}"
               class="btn {% if sort_by == '3' %}btn-primary{% else %}btn-outline-secondary{% endif %} rounded-pill">Rating</a>
            <a href="?{% url_replace request 'sort_by' 4 %}"
               class="btn {% if sort_by == '4' %}btn-primary{% else %}btn-outline-secondary{% endif %} rounded-pill">Issue
              Count</a>
          </div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Publisher</th>
              <th scope="col">Status</th>
              <th scope="col">Rating</th>
              <th scope="col">Location</th>
            </tr>
            </thead>
            <tbody>
            {% for item in page_obj %}
              <tr>
                <th scope="row">{{ item.id }}</th>
                <td><a href="{% url 'documents:detail' item.slug %}">{{ item.title }}</a></td>
                <td><a href="{% url 'documents:publisher' item.publisher_id %}">{{ item.publisher.name }}</a></td>
                <td>
                  {% if item.status == item.AVAILABLE %}
                    <span class="badge badge-pill bg-success text-right">Available</span>
                  {% elif item.status == item.LOANED %}
                    <span class="badge badge-pill bg-info text-right">Loaned</span>
                  {% elif item.status == item.RESERVED %}
                    <span class="badge badge-pill bg-warning text-right">Reserved</span>
                  {% elif item.status == item.LOST %}
                    <span class="badge badge-pill bg-danger text-right">Lost</span>
                  {% endif %}
                </td>
                <td>
                  <div class="rateit" data-rateit-value="{{ item.rating }}" data-rateit-ispreset="true"
                       data-rateit-readonly="true"></div>
                </td>
                <td>{{ item.location|default:"---" }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="4">No books!</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% if page_obj.paginator.num_pages > 1 %}
      <div class="row">
        <div class="col">
          <nav class="mb-5 pb-2">
            <ul class="pagination flex-center">
              <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                <a class="page-link" aria-label="Previous"
                   {% if page_obj.has_previous %}href="?{% url_replace request 'page' page_obj.previous_page_number %}"{% endif %}
                   {% if not page_obj.has_previous %}tabindex="-1"{% endif %}>
                  <i class="fas fa-angle-left" aria-hidden="true"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {% if page_obj.number|add:'-4' > 1 %}
                <li class="page-item"><a class="page-link"
                                         href="?{% url_replace request 'page' page_obj.number|add:'-5' %}">&hellip;</a>
                </li>
              {% endif %}
              {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                  <li class="active page-item"><span class="page-link">{{ i }} <span
                    class="sr-only">(current)</span></span></li>
                {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                  <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                <li class="page-item"><a class="page-link"
                                         href="?{% url_replace request 'page' page_obj.number|add:'5' %}">&hellip;</a>
                </li>
              {% endif %}
              <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                <a class="page-link" aria-label="Next"
                   {% if page_obj.has_next %}href="?{% url_replace request 'page' page_obj.next_page_number %}"{% endif %}
                   {% if not page_obj.has_next %}tabindex="-1"{% endif %}>
                  <i class="fas fa-angle-right" aria-hidden="true"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
{% block js %}
  <script src="{% static 'js/jquery.rateit.min.js' %}"></script>
{% endblock %}